body {
  background-color: cyan;
}

h2 {
  width: 250px;
  background-color: #87cefa;
  padding: 10px;
  transition: width 2s;
}

h2:hover {
  width: 300px;
}

video {
  width: 200px;
  height: 300px;
}

img {
  width: 200px;
  transition: width 2s;
}

nav {
  background-color: #00005d;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav a {
  text-decoration: none;
  display: block;
}

nav li {
  padding: 0.5em;
  display: inline-block;
}

nav ul ul {
  position: absolute;
  background-color: #5564a0;
  padding: 0;
  text-align: left;
  display: none;
}

nav ul ul li {
  border: 1px solid #00005d;
  display: block;
  width: 8em;
  padding-left: 1em;
  margin-left: 0;
}

nav li:hover ul {
  display: block;
}

nav a:link {
  color: #ffffff;
}

na a:visited {
  color: #eaeaea;
}

nav a:hover {
  color: #87cefa;
}

table,
th,
td {
  border: 1px solid black;
}
